html, 
body {
    height: 100%;
}

#root {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  overflow: auto;
}

a {
  cursor: pointer;
}

.card {
  padding: 20px !important;
}

.loginCardContainer {
  width: 45%;
  margin-left: auto;
  margin-right: auto; 
}

.linkContainer {
  padding: 20px;
}